@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
/* IndieFest Demo */
@font-face {
    font-family: 'INDIEFEST Demo';
    src: url('INDIEFESTDemo.woff2') format('woff2'),
        url('INDIEFESTDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* OpenSans Bold */
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff2') format('woff2'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* Main styles */
:root {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*,
:before,
:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-ms-overflow-style: ms-autohiding-scrollbar;
}

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #000;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 90%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 9vmax;
	height: 9vmax;
	min-width: 100px;
	min-height: 100px;
	/* font-family: 'Late Night * Love Notes'; */
	font-family: 'INDIEFEST Demo';
	font-weight: normal;
    font-style: normal;
	font-size: 12vmax;
	line-height: 1.2em;
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

img, svg {
	display: block;
	overflow: visible;
	pointer-events: none;
}

h1 {
	position: relative;
	color: #000;
	display: table-cell;
	/* font-family: 'IBM Plex Sans', sans-serif; */
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: normal;
	font-size: 6em;
	font-size: 12vmax;
	line-height: 1.2em;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 .2em;
	vertical-align: middle;
	font-display: swap;
}

.group:before,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1;
}

.links {
	position: relative;
	z-index: 9;
	font-size: 130%;
	text-align: center;
	width: 100%;
	padding: 2rem 0;
}

.links a {
	display: inline-block;
	color: #df1888;
	font-family: 'IBM Plex Mono', monospace;
	line-height: 1.5em;
	text-decoration: none !important;
	white-space: nowrap;
	margin: 0 1.2em;
	padding: 0.6em 0;
	transition: 150ms;
}

.links a:hover {
	color: #2d71b9;
	cursor: pointer;
}

.links-logo {
	fill: currentColor;
	display: inline-block;
	vertical-align: bottom;
	width: 1.6em;
	height: 1.6em;
	margin: 0 0.5em 0 0;
}

/* snippets */
.hidden { display: none; }
.reset-all-styles { all: initial; }
.system-font-stack { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.pretty-text-underline { display: inline; text-shadow: 1px 1px #f5f6f9, -1px 1px #f5f6f9, -1px -1px #f5f6f9, 1px -1px #f5f6f9; background-image: linear-gradient(90deg, currentColor 100%, transparent 100%); background-position: bottom; background-repeat: no-repeat; background-size: 100% 1px; }
.pretty-text-underline::-moz-selection { background-color: rgba(0, 150, 255, 0.3); text-shadow: none; }
.pretty-text-underline::selection { background-color: rgba(0, 150, 255, 0.3); text-shadow: none; }
.truncate-text { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.hairline-border { box-shadow: 0 0 0 1px; }
@media (min-resolution: 2dppx) {
    .hairline-border { box-shadow: 0 0 0 0.5px; }
}
@media (min-resolution: 3dppx) {
    .hairline-border { box-shadow: 0 0 0 0.33333333px; }
}
@media (min-resolution: 4dppx) {
    .hairline-border { box-shadow: 0 0 0 0.25px; }
}
.hover-underline-animation { display: inline-block; position: relative; color: #0087ca; }
.hover-underline-animation::after { content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 2px; bottom: 0; left: 0; background-color: #0087ca; transform-origin: bottom right; transition: transform 0.25s ease-out; }
.hover-underline-animation:hover::after { transform: scaleX(1); transform-origin: bottom left; }